<style>
    img {
        width: 100%;
        height: auto;
        border-radius: 40px;;
    }
</style>


<div class="row">

    <div class="col-md-4">
        <h1><span class="label label-default">SHIRT</span></h1>
        <img ng-src="images/{{outfit.shirt.image_id}}"/>
    </div>
    <div class="col-md-4">
        <h1><span class="label label-default">PANTS</span></h1>
        <img ng-src="images/{{outfit.pants.image_id}}"/>
    </div>
    <div class="col-md-4">
        <h1><span class="label label-default">SHOES</span></h1>
        <img ng-src="images/{{outfit.shoes.image_id}}"/>
    </div>
</div>